


 /* navbar */


.navbar {
	display: flex;	
	align-items: center;
	justify-content: space-between;
	height: 15vh;
	width: 100%;
	/* padding: 0 1rem; */
	background-color:rgb(217, 216, 220);
	color:black;
	/* position: fixed; */
	top: 0;
	

	
}
.logo{
	
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px;
}

nav a {
	padding: 10px;
	color:black;
	text-decoration: none;
}

nav a:hover {
	color:rgb(28, 186, 131);
}

.nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color:rgb(0, 0, 1);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.navbar,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	.nav-btn {
		visibility: visible;
		opacity: 1;


	
	}

	nav {
		position: fixed;
		top: -99vh;
		right: 0;
		height: 50%;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.4rem;
		background-color:rgb(217, 216, 220);
		transition: 0.5s;
        cursor: pointer;
		
		 
	}

	.responsive_nav {
		transform: translateY(100vh);

		
	}

	nav .nav-close-btn {
		position: absolute;
		top: 1.5rem;
		right: 1rem;
	}

	nav a {
		font-size: 1.5rem;
	}

	nav a:hover {
		color:rgb(28, 186, 131);
	}

	

	
}



/* home */

.home{
	width: 100%;
	text-align: center;
	height: 100vh;
	
}
 .homeContainer{
	height: 100%;
	
 }

 .homeDescription{
	position: relative;
	width: 600px;
	position:fixed;
	color: rgb(0, 0, 0);
	top: 80%;
	left: 0%;
	width: 100%;
	padding-left: 10px;
	background-color: rgba(254, 254, 254, 0.559);
 }
 .home-carosel{
	
	display: flex;
	top: 20%;
		
	
 }
 /* .home-carosel span{
	width:45px;
	height: 12px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 0.5rem;
	cursor: pointer;
	
 } */
 /* .homeOverlay{
	position: absolute;
	top: 80px;
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(to right,rgba(0, 0, 0, 0.664) 1%,rgba(255, 255, 255, 0)99% ); 

 } */
 @media only screen and (max-width: 1024px) {
	
	.homeDescription{
		position: relative;
		width: 600px;
		position:fixed;
		color: rgb(255, 255, 255);
		top: 80%;
		left: 0%;
		width: 100%;
		padding-left: 10px;
		background-color: rgba(173, 173, 173, 0.648);
	 }
	 .home-carosel{
		
		display: flex;
		top: 20%;
		
		
		
	 }
	 /* .home-carosel span{
		width:45px;
		height: 12px;
		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		margin: 0.5rem;
		cursor: pointer;
		
	 } */
	 /* .homeOverlay{
		position: absolute;
		top: 80px;
		width: 100%;
		height: 100vh;
		background-image:linear-gradient(to right,rgba(0, 0, 0, 0.664) 5%,rgba(255, 255, 255, 0)95% ) 
	
	 } */
 }