


 /* navbar */


.navbar {
	display: flex;	
	align-items: center;
	justify-content: space-between;
	height: 15vh;
	width: 100%;
	/* padding: 0 1rem; */
	background-color:rgb(217, 216, 220);
	color:black;
	/* position: fixed; */
	top: 0;
	

	
}
.logo{
	
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px;
}

nav a {
	padding: 10px;
	color:black;
	text-decoration: none;
}

nav a:hover {
	color:rgb(28, 186, 131);
}

.nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color:rgb(0, 0, 1);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.navbar,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	.nav-btn {
		visibility: visible;
		opacity: 1;


	
	}

	nav {
		position: fixed;
		top: -99vh;
		right: 0;
		height: 50%;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.4rem;
		background-color:rgb(217, 216, 220);
		transition: 0.5s;
        cursor: pointer;
		
		 
	}

	.responsive_nav {
		transform: translateY(100vh);

		
	}

	nav .nav-close-btn {
		position: absolute;
		top: 1.5rem;
		right: 1rem;
	}

	nav a {
		font-size: 1.5rem;
	}

	nav a:hover {
		color:rgb(28, 186, 131);
	}

	

	
}



/* home */

.home{
	width: 100%;
	text-align: center;
	height: 100vh;
	
}
 .homeContainer{
	height: 100%;
	
 }

 .homeDescription{
	position:absolute;
	width: 600px;
	color: rgb(0, 0, 0);
	top: 80%;
	left: 0%;
	width: 90%;
	padding-left: 10px;
	background-image:linear-gradient(to right,rgba(255, 255, 255, 0.664) 1%,rgba(255, 255, 255, 0)99% ); 
 }
 .home-carosel{
	
	display: flex;
	top: 20%;
		
	
 }
 /* .home-carosel span{
	width:45px;
	height: 12px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 0.5rem;
	cursor: pointer;
	
 } */
 /* .homeOverlay{
	position: absolute;
	top: 80px;
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(to right,rgba(0, 0, 0, 0.664) 1%,rgba(255, 255, 255, 0)99% ); 

 } */
 @media only screen and (max-width: 1024px) {
	
	.homeDescription{
		position:absolute;
		width: 600px;
		color: rgb(0, 0, 0);
		top: 80%;
		left: 0%;
		width: 90%;
		padding-left: 10px;
		background-image:linear-gradient(to right,rgba(255, 255, 255, 0.664) 1%,rgba(255, 255, 255, 0)99% ); 
	 }
	 .home-carosel{
		
		display: flex;
		top: 20%;
		
		
		
	 }
	 /* .home-carosel span{
		width:45px;
		height: 12px;
		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		margin: 0.5rem;
		cursor: pointer;
		
	 } */
	 /* .homeOverlay{
		position: absolute;
		top: 80px;
		width: 100%;
		height: 100vh;
		background-image:linear-gradient(to right,rgba(0, 0, 0, 0.664) 5%,rgba(255, 255, 255, 0)95% ) 
	
	 } */
 }



 /* describe */
.describe-container{
	height: 100vh;
}
 .section-container{
	
	
	 background-color: rgb(217, 216, 220);
	 display: flex;
	 justify-content: center;
	 align-items: left;
	 flex-direction: column;
	 padding: 0 8rem;
	 color: rgb(0, 0, 0);
 }

 
 .section-title{
	
	 font-size: 2rem;
	 font-weight: 600;
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 margin: 2rem 4rem;
	 padding-top: 12px;
	
 }
 .section-grid{
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 gap: 1.5rem;
	 margin: 1rem 0;
 }
.section-number{
	font-size: 20px;
	font-weight: 400;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 50px;
	color: rgb(255, 255, 255);
	background-color: rgb(39, 39, 39);
	border-radius: 40%;
	
}
.describe-images-grid{
	
	display: flex;
	grid-template-rows: repeat(3, 1fr);
	gap: 0.5rem;
	align-items: right;
	flex-direction: row;
		
	
}
.singleInfo{

	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	
}
.section-container-grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	margin: 5rem 5rem;
	
}
.describeImages{
	width: 250px;
	height: 180px;
	object-fit: cover;
	border-radius: 10px;
}

@media only screen and (max-width: 1150px){
	.section-container-grid{
		display: column;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
		margin: 5rem 5rem;
		
	}
	.describe-images-grid{
	
		display: flex;
		grid-template-rows: repeat(3, 1fr);
		gap: 0.5rem;
		align-items: right;
		flex-direction: column;
			
		
	}
	.describeImages{
		width: 200px;
		height: 100px;
		object-fit: cover;
		border-radius: 10px;
	}
}

@media only screen and (max-width: 1080px){
	.section-container-grid{
		display: column;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
		margin: 5rem 5rem;
		
	}
	.describe-images-grid{
	
		display: flex;
		grid-template-rows: repeat(3, 1fr);
		gap: 0.5rem;
		align-items: right;
		flex-direction: column;
			
		
	}
	.describeImages{
		width: 220px;
		height: 120px;
		object-fit: cover;
		border-radius: 10px;
	}
}

@media only screen and (max-width: 600px){
	.section-title{
	
		font-size: 1.2rem;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 2rem 4rem;
		padding-top: 12px;
	   
	}
	.section-number{
		font-size: 10px;
		font-weight: 300;
		padding: 7px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 50px;
		color: rgb(255, 255, 255);
		background-color: rgb(39, 39, 39);
		border-radius: 40%;
		
	}
	.section-container-grid{
		display:column;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.005rem;
		margin: 2rem 1.5rem;
		
	}
	.describe-images-grid{
	
		display:flex;
		grid-template-columns: repeat(3, 1fr);
		gap: 0.5rem;
		align-items: right;
		flex-direction: column;
			
		
	}
	.describeImages{
		width: 100px;
		height: 70px;
		object-fit: cover;
		border-radius: 10px;
	}
}



/* scroll */
 
.hidden{
	opacity: 0;
	transform: translatex(-100%);
	transition: all 1.5s;
}
.show{
	opacity: 1;
	transform: translatex(0);
}

/* scroll end */